.quiz {
	width: 100%;
	display: flex;
	text-align: left;
	font-size: larger;
}

.quizLeftPart {
	width: 50%;
	padding: 3%;
}

.quizRightPart {
	width: 50%;
	padding: 3%;
	display: flex;
	flex-direction: column;
}

.question {
	margin-bottom: 3%;
}

.radio {
	display: flex;

}

.explication {
	margin-top: 3%;
	font-size: medium;
	font-style: italic;
	color: #2c2c2c;
}